@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

.topNav {
  background-color: #4f4d53;
  height: 48px;
}

.topNav > img {
  margin-left: 300px;
  padding-top: 15px;
}

main {
  display: flex;
  flex-direction: column;
}

.upper {
  height: 750px;
  background-image: url(./media/img_hero.jpg);
  text-align: center;
  justify-items: center;
  background-size: cover;        
  background-position: center center; 
}

.upper > h1 {
  font-size: 100px;
  color: #4f4d53;
  margin: 225px;
}

#imgContainer {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  gap: 75px;
}

.lower > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower > div:last-child > h2 {
  font-size: 64px;
  color: #e8be02;
  margin: 100px;
}

.lower > div:last-child > p {
  margin: 0 500px;
  font-size: 20px;
  color: #4f4d53;
}

#bar {
  height: 12px;
  background-color: #e8be02;
  margin-top: 150px;
}

.footer {
  background-color: #4f4d53;
  display: flex;
  justify-content: space-evenly;
}

.navGroup {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navTitle {
  color: #e8be02;
  font-size: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

li > a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}